

.note-container {

    height : 100%;

}

.note_container_notes {

    height : 90%;
    display : flex;
    flex-wrap : wrap;
    gap : 20px;
   

}

.note_container h2 {

    margin-bottom : 20px;
    
}